/* default */

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #303030;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}
a {
  color: #00ada7;
  outline: none;
}
a:hover {
  color: #00ada7;
}
a:active,
a:focus,
a img {
  outline: none;
}
.btn,
input[type="submit"] {
  padding: 7px 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-default,
input[type="submit"] {
  border: 1px solid #00ada7;
  background: #00ada7;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-default:hover,
input[type="submit"]:hover {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
.btn-default:focus,
input[type="submit"]:focus {
  outline: none;
}
.btn-default[disabled] {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
textarea,
.form-control {
  padding: 10px 10px;
  border: 1px solid #ebebeb;
  height: 40px;
  font-size:15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
.form-control:focus {
  border: 1px solid #00ada7;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
blockquote {
  border-left: 4px solid #00ada7;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
}
cite {
  font-size: 14px;
}
pre {
  padding: 0;
  background: none;
  border: none;
}
::-moz-selection {
  color: #ffffff;
  background: #00ada7;
  text-shadow: none;
}
::selection {
  color: #ffffff;
  background: #00ada7;
  text-shadow: none;
}

/* header */


.main-header {
  text-align: center;
  padding: 20px 0;
  background: #ffffff;
}
.main-header .branding {
  font-size: 3.5em;
  font-family: 'Roboto Slab', serif;
  color: #303030;
}
.main-header .branding:hover {
  text-decoration: none;
}
.main-header .branding img {
  max-width: 100%;
}
.navbar-header {
  text-align: center;
}
.navbar-header i {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
.main-navigation {
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
}
.main-navigation .menu {
  padding: 0;
  margin: 0;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
  font-weight: medium;
  font-family: 'Roboto Slab', serif;
}
.main-navigation .menu li:hover > a,
.main-navigation .menu li:focus > a {
  color: #00ada7;
  text-decoration: none;
}
.main-navigation .menu li.current-menu-item > a {
  color: #00ada7;
}
.main-navigation .menu li ul {
  visibility: hidden;
  background: #ffffff;
  text-align: left;
  padding: 7px 0px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 120%;
  width: 200px;
  z-index: 999;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=(0));
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-navigation .menu li ul ul {
  position: absolute;
  left: 100%;
  top: 20%;
  margin-top: -7px;
}
.main-navigation .menu li ul > li {
  display: block;
  margin: 0;
}
.main-navigation .menu li ul > li a {
  line-height: 2.5em;
  color: #505050;
}
.main-navigation .menu li ul > li.current-menu-ancestor > a {
  color: #00ada7;
}
.main-navigation .menu li ul > li:hover ul {
  top: 0;
}
.main-navigation .menu li ul:hover > a {
  color: #00ada7;
}
.main-navigation .menu li:hover > ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
  top: 100%;
}

.carousel{
  background: #8a8a8a;
  margin-bottom: 60px;
}
.carousel .item {
  height: 65vh;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    opacity: 0.9;
}

.carousel-inner .item h2{
  position: relative;
  margin-top:180px;
  margin-left:100px;
  color:#ffffff;
}

.carousel-inner .item p{
  width:600px;
  position: relative;
  margin-top:20px;
  margin-left:100px;
  color:#ffffff;
  font-size:20px;
  font-weight: 400;
  font-style: italic;
}


@media (max-width: 500px) {
  .item .container {
    display: none;
  }
}

/* main post */

.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}

.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  line-height: 1em;
}
.post .post-head .post-title a {
  font-weight: bold;
  color: #303030;
}
.post .post-head .post-title a:hover,
.post .post-head .post-title a:focus {
  text-decoration: none;
}
.post .post-head .post-meta {
  margin: 14px 0 0px;
}
.post .post-head .post-meta span{
  margin: 0px 15px;
  white-space: nowrap;
  color:#00ada7;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.post .post-head .post-meta span i{
  color:#00ada7;
}

.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.post .featured-media.no-header {
  margin-top: 0;
}
.post .featured-media.no-image {
  background-color: #00ada7;
}
.post .featured-media img {
  width: 100%;
  height: auto;
}
.post .post-content {
  margin: 30px 0;
}
.post .post-content img {
  max-width: 100%;
  margin-bottom: 14px;
  height: auto;
}
.post .post-content .post-permalink {
  margin-top: 30px;
}
.post .tag-list {
  color: #959595;
  font-style: italic;
  line-height: 28px;
}
.post .tag-list a {
  color: #959595;
  margin-left: 7px;
}
.post .tag-list a:hover {
  color: #00ada7;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
.post .post-footer .category-list {
  color: #959595;
  line-height: 28px;
  font-family: 'Roboto Slab', serif;
}
.post .post-footer .category-list a {
  color: #959595;
  margin-left: 7px;
}
.post .post-footer .category-list a:hover {
  color: #00ada7;
}
.post .post-footer .share .share-icons {
  padding: 0;
  margin: 0;
}
.post .post-footer .share .share-icons li {
  list-style: none;
  display: inline-block;
  margin:0 0 0 8px;
}
.post .post-footer .share .share-icons li a {
  color: #444444;
  text-align: center;
}
.post .post-footer .share .share-icons li a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
}
.post .post-footer .share .share-icons li a:hover i {
  color: #ffffff;
  background: #00ada7;
  border: 1px solid #00ada7;
}

/* 	sidebar */

.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
}
.main-footer .widget {
  padding: 0px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget img {
  max-width: 100%;
}
.widget a {
  color: #959595;
}
.widget a:hover,
.widget a:focus {
  color: #00ada7;
  text-decoration: none;
}
.widget ul {
  padding: 0;
}
.widget ul > li {
  list-style: none;
  position: relative;
}
.widget ul > li a {
  border-bottom: 1px dashed #ebebeb;
  display: block;
  line-height: 3em;
}
.widget ul > li > ul li {
  padding-left: 0px;
}

.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #00ada7;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.widget .newsletter .input-group {
  margin-bottom: 10px;
  display: block;
}
.widget .newsletter .input-group .email {
  width: 100%;
}
.widget .newsletter .input-group .btn {
  width: 100%;
}
.widget .ad {
  text-align: center;
}
.widget .ad img {
  max-width: 100%;
}
.widget .team-widget {
  list-style: none;
  padding-left: 0;
}
.widget .team-widget li {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.widget .team-widget li a img {
  width: 90px;
  height: 90px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .team-widget li a img:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=(80));
}
.search-form .form-group {
  margin: 0;
}

/*
	social shares sidebars
*/

.fb-icon-bg {
  width:46px;
  background: #354f88;
  float: left;
  margin-bottom: 20px;
}

.fb-icon-bg i{
  padding:12px 16px;
  color:#ffffff;
  font-size: 20px;
}

.fb-bg {
  text-align: center;
  background: #3b5998;
  color:#ffffff;
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  margin-bottom: 20px;
}

.go-icon-bg {
  width:46px;
  background: #ce3e26;
  float: left;
  margin-bottom: 20px;
}

.go-icon-bg i{
  padding:12px 16px;
  color:#ffffff;
  font-size: 20px;
}

.go-bg {
  text-align: center;
  background: #de4c34;
  color:#ffffff;
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  margin-bottom: 20px;
}

.tw-icon-bg {
  width:46px;
  background: #40a2d1;
  float: left;
  margin-bottom: 10px;
}

.tw-icon-bg i{
  padding:12px 16px;
  color:#ffffff;
  font-size: 20px;
}

.tw-bg {
  text-align: center;
  background: #45b0e3;
  color:#ffffff;
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  margin-bottom: 10px;
}

/*
	Newsletter widget
*/

.newsletterbg{
  width:100%;
  background: #00ada7;
  height:80px;
  margin-bottom: 120px;
  text-align: center;
}

.newsletterbg h4{
  color:#ffffff;
  font-weight: bold;
  padding-top:15px;

}

.newsletterbg i{
  color:#00ada7;
  padding:20px;
  background: #ffffff;
  font-size:30px;
  border:5px solid #d8d8d8;
  border-radius: 50%;
}

.newsletterbg p{
  margin-top: 15px;
  font-family: roboto;
  line-height: 3vh;
}

/*
	Author widget
*/

.authorbg{
  width:100%;
  background: #00ada7;
  height:140px;
  margin:60px 0px 10px 0px;
  text-align: center;
}

.authorbg i{
  color:#00ada7;
  padding:20px;
  background: #ffffff;
  font-size:30px;
  border:5px solid #d8d8d8;
  border-radius: 50%;
  margin-top:-100px;
}

.authorbg p{
  margin-top: 15px;
  font-family: roboto;
  line-height: 3vh;
  color:#ffffff;
  font-weight: 400;
}

.postsp li{
  margin-bottom: 25px;
}


.postimages{
  object-fit: cover;
  height: 150px;
}

.tags{
  margin-bottom:130px;
}

.tags li{
  padding:6px 0px 6px 6px;
  background:#00ada7;
  float: left;
  color:#ffffff;
  margin:4px;
}

.tags li span{
  background:#111111;
  padding:8px 9px 9px 9px;
}

/*====================================================
	footer
====================================================*/
.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.main-footer .widget .title {
  color: #ffffff;
  border-bottom: 1px solid #303030;
}
.main-footer .widget ul > li a {
  border-bottom: 1px dashed #303030;
}

.copyright {
  background: #111111;
  text-align: center;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}

/*====================================================
	media query
====================================================*/
@media (max-width: 767px) {
  .main-navigation {
    text-align: left;
  }
  .main-navigation .menu li {
    display: block;
  }
  .main-navigation .menu li:hover > a {
    color: #00ada7;
    text-decoration: none;
  }
  .main-navigation .menu li:hover > ul {
    top: 0;
  }
  .main-navigation .menu li ul {
    visibility: visible;
    padding: 0px 0px 0px 20px;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
  .main-navigation .menu li ul ul {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .prev-next-wrap a {
    display: block;
  }
}
@media (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }
}
